<launch>

<rosparam file="$(find moodz_v2_joints_description)/launch/controller.yaml" command="load"/>
<node args="Rev1_position_controller Rev2_position_controller Rev6_position_controller Rev8_position_controller Rev9_position_controller Rev10_position_controller Rev16_position_controller Rev17_position_controller Rev18_position_controller joint_state_controller " name="controller_spawner" ns="moodz_v2_joints" output="screen" pkg="controller_manager" respawn="false" type="spawner"/>
<node name="robot_state_publisher" output="screen" pkg="robot_state_publisher" respawn="false" type="robot_state_publisher">
  <remap from="/joint_states" to="/moodz_v2_joints/joint_states"/>
</node>

</launch>